@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");


.scroller {
  height: 1.57em;
  line-height: 1.6em;
  position: relative;
  overflow: hidden;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
  font-weight: bold;
  font-size: 20px;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  16.7% {
    top: -1.2em;
  }
  33.32% {
    top: -2.4em;
  }
  49.98% {
    top: -3.6em;
  }
  66.64% {
    top: -4.8em;
  }
  83.3% {
    top: -6em;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


#btn-back-to-top {
position: fixed;
bottom: 50px;
right: 50px;
display: none;
}

html {
  scroll-behavior: smooth;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: orange;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
orange;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 0.8rem;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  position: relative;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#3f5efb));
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.flipcard {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  height: 400px;
}

.card__side {
  height: 505px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--front-1 {
  background: linear-gradient(-45deg, black, orange);
}

.card__side--front-2 {
  background: linear-gradient(-45deg, #c5d8e1, black);
}

.card__side--front-3 {
  background: linear-gradient(-45deg, cyan, black);
}

.card__side--front-4 {
  background: linear-gradient(-45deg, cyan, black);
}

.card__side--front-5 {
  background: linear-gradient(-45deg, #c5d8e1, black);
}

.card__side--front-6 {
 background: linear-gradient(-45deg, black, orange);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, orange, black);
}

.card__side--back-2 {
  background: linear-gradient(-45deg, black, #c5d8e1);
}

.card__side--back-3 {
  background: linear-gradient(-45deg, black, cyan);
}

.card__side--back-4 {
  background: linear-gradient(-45deg, black, cyan);
}

.card__side--back-5 {
  background: linear-gradient(-45deg, black, #c5d8e1);
}

.card__side--back-6 {
  background: linear-gradient(-45deg, orange, black);
}

.flipcard:hover .card__side--front-1,
.flipcard:hover .card__side--front-2,
.flipcard:hover .card__side--front-3,
.flipcard:hover .card__side--front-4,
.flipcard:hover .card__side--front-5,
.flipcard:hover .card__side--front-6 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flipcard:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__title {
  height: 17rem;
  padding:0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skilsmodal h5{
font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.skilsmodal p{
	    font-size: .9em;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.card__title--1 .fas {
  font-size: 5rem;
}

.card__title--2 .fas {
  font-size: 5rem;
}

.card__title--3 .fas {
  font-size: 5rem;
}

.card__heading {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  font-weight: 100;
}

.card__details ul li {
  text-align: center;
  font-size: 12px;
  padding: 0.8rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 20px;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 20px;
  font-weight: 100;
}


.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 100%;
}

ul {
    padding: 0;
}


.contactme img{
  transition: transform 1s, filter 2s ease-in-out, opacity 0.3s; 
  transform: scale(1.0);
  opacity: 0.7;

}
.contactme img:hover{
filter: blur(0);
  transform: scale(1.15);
  opacity: 1.0;
}


#frontend_skills{
  transition: transform 1s, filter 2s ease-in-out, opacity 0.3s; 
  transform: scale(1.0);
  opacity: 0.7;


}

#frontend_skills:hover{
  filter: blur(0);
  transform: scale(1.3);
  opacity: 1.0;
}

#server_skills{
  transition: transform 1s, filter 2s ease-in-out, opacity 0.3s; 
  transform: scale(1.0);
  opacity: 0.7;
}

#server_skills:hover{
  filter: blur(0);
  transform: scale(1.3);
  opacity: 1.0;
}

#database_skills{
  transition: transform 1s, filter 2s ease-in-out, opacity 0.3s; 
  transform: scale(1.0);
  opacity: 0.7;
}

#database_skills:hover{
  filter: blur(0);
  transform: scale(1.3);
  opacity: 1.0;
}

#deployment_skills{
  transition: transform 1s, filter 2s ease-in-out, opacity 0.3s; 
  transform: scale(1.0);
  opacity: 0.7;
}

#deployment_skills:hover{
  filter: blur(0);
  transform: scale(1.3);
  opacity: 1.0;
}
h6{
color: white;
}

ul li{
list-style-type: none;
color: white;

}


.dropdown-toggle {
  outline: 0;
}

.bg1{
	background: url(img/bg.jpg) no-repeat;
	height: 1000px;
	background-size:cover;
	background-position: center;
	position: relative;
  top:0;
}
.bg2{
	background:black;
	height: 1300px;
	background-size:cover;
	background-position: center;
	position:relative;
}

.bg3{
	background: url(img/bg2.jpg) no-repeat;
	height: 1000px;
	background-size:cover;
	background-position: center;
	position: relative;
}
.bg4{
	background: url(img/bg3.jpg) no-repeat;
	background-size:cover;
	background-position: center;
	position: relative;
}

.bg5{
	background: url(img/bg2.jpg) no-repeat;
	height: 750px;
	background-size:cover;
	background-position: center;
	position: relative;
}


.play-on-hover{
	cursor: pointer;
	border-radius:20px;
	background-size:cover;
	box-shadow: 0px 5px 5px 5px #FFa500;
	position: relative;
	background: url(img/wordcrash.jpg) no-repeat;
	width: 500px;
	transition:1.5s;
	
}

.play-on-hover:hover{
	background: url(img/wordcrash.gif) no-repeat;
	position: relative;
	opacity: .8;
	z-index: 1;
	border-radius:20px;
	background-size:cover;
	box-shadow: 0px 15px 15px 15px #FFa500;
	width: 500px;

}

.play-on-hover-1{
	cursor: pointer;
	border-radius:20px;
	background-size:cover;
	box-shadow: 0px 5px 5px 5px #FFa500;
	position: relative;
	background: url(img/wordcrash.jpg) no-repeat;
	width: 500px;
	transition:1.5s;
	
}

.play-on-hover-1:hover{
	background: url(img/wordcrash.gif) no-repeat;
	position: relative;
	opacity: .8;
	z-index: 1;
	border-radius:10px;
	background-size:cover;
	box-shadow: 0px 15px 15px 15px #FFa500;

}



body{
	margin:0px;
	background-color:black;
	font-family: "Lato",sans-serif;
}


header{
	background: rgba(0,0,0,0.6);
}

 .footerbg{
	background-color: black;
	width: 100%;
    height:65px;
    position: relative;
   margin-top: -25px;
    
}

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.firstContent{
  margin-top: 380px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

.contactPic{
  width: 450px;
  height: 450px;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (max-height: 768px) {
	.firstContent{
		margin-top:260px;
	}
  .bg1{
    height: 700px;
  }

.contactPic{
  width: 400px;
  height: 400px;
}

#btn-back-to-top {
position: fixed;
bottom: 25px;
right: 25px;
display: none;
}

}

@media (min-width: 320px) and (max-width: 480px) {
.contactPic{
  width: 350px;
  height: 350px;
}
@keyframes slide {
  0% {
    top: 0;
  }
  12.5% {
    top: -1.2em;
  }
  25% {
    top: -2.4em;
  }
  37.% {
    top: -3.6em;
  }
  50% {
    top: -4.8em;
  }
  62.5% {
    top: -6em;
  }
 87.5% {
    top: -7.2em;
  }
}


}



@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
